.avatar{
    width: 100px;
    height: auto;
    border-radius: 100%;
    margin: 10px;
}
.frends{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 40px;
}
.frends_logo{
    display: flex;
    flex-direction: column;
}
.frends_description{
    margin: 10px;
    p,h4{
        text-align: center;
    }
    
}
.show_users_wrapper{
    display: flex;
    width: auto;
    .show_users{
        margin: 0 auto;
        margin-top: 20px;
}
    }
.frends_wrapper{
    flex-grow: 1;
}