@mixin ColumnWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    filter: drop-shadow(0px 24px 64px rgba(45, 48, 58, 0.06));
    background: #191a1d;
    border-radius: 20px;
    margin: 20px;
}
.wrapper {
    display: flex;
    height: 100vh;
    min-height: 570px;
}
.space {
    @include ColumnWrapper;
    .space_messs {
        height: calc(100vh - 150px);
        overflow: auto;
        margin: 16px;
        
    }
    .space_messs::-webkit-scrollbar { /* chrome based */
        width: 0px;  /* ширина scrollbar'a */
        background: transparent;  /* опционально */
    }
}
.user_list {
    @include ColumnWrapper;
    h6 {
        font-size: 12px;
        line-height: 15px;
        margin: 17px;
        text-align: left;
    }
}
.form {
    button {
        width: 288px;
        height: 42px;
        background: #5458f7;
        border: none;
        border-radius: 40px;
        border-color: none;
        font-size: 14px;
        line-height: 18px;
        color: white;
        font-family: "Martel Sans", sans-serif;
        margin: 16px;
        &:focus {
            outline: none;
        }
        &:disabled {
            opacity: 0.5;
        }
    }
}
