
.coment_item{
    display: flex;
    justify-content: space-around;
    margin: 16px;
    &:last-child{
        margin-bottom: 16px;
    }
    .mini_logo{
        width: 40px;
        height: 40px;
        border-radius: 100%;
    }
    .comentText{
        width: 240px;
        border-radius: 16px;
        background-color: rgba(255, 255, 255, 0.1);
        div{
            margin: 16px;
            padding-bottom: 36px;
            position: relative;
            span{
                position: absolute;
                right:10px;
                bottom: 5px;
            }
        }
        
    }
}