.navig {
    background-color:rgb(237, 238, 237);
    display: flex;
    max-width: 200px;
    min-width: 200px;

}
.list_groop{
    width: 300px;
    margin-left: -15px;
    display: flex;
    height: 100%;
}
.last{
    flex:1;
}