.navig {
    background-color:rgb(237, 238, 237);
    display: flex;
    max-width: 200px;
    min-width: 200px;
}
.list_groop{
    width: 300px;
    margin-left: -15px;
    display: flex;
    height: 100%;
}
.last{
    flex:1;
}
.list{
    display: inline;
    box-sizing: border-box;
    padding:0;
    width: 100%;
    a {
        display: block;
        outline: none;
        color: black;
        text-decoration: none;
        padding: 12px 20px;
     }
}
.activ_link{
    background-color: rgba(103, 103, 255, 0.253);
}