@mixin nawigIcon {
    background-repeat: no-repeat;
    background-position: 20px -2px;
}

.navig{
    ul{
        font-family: 'Martel Sans', sans-serif;
        list-style-type: none;
        padding: 0;
        .home{
            background-image: url("../Img/icons/home.svg");
            @include nawigIcon;
        }
        .friends{
            background-image: url("../Img/icons/person.svg");
            @include nawigIcon;
        }
        .messeges{
            background-image: url("../Img/icons/Chat.svg");
            @include nawigIcon;
        }
        .news{
            background-image: url("../Img/icons/bell.svg");
            @include nawigIcon;
        }
        .settings{
            background-image: url("../Img/icons/settings.svg");
            @include nawigIcon;
        }
        li{
            height: 40px;
            a{
                text-decoration: none;
                color : white;
                padding-left: 50px;
                padding-right: 70px;
                &:hover{
                    background-image: url("../Img/icons/Rectangle.svg");
                    background-repeat: no-repeat;
                    background-position: 5px -13px;
                }
            }
        }
    }
}