
.activ{
    background-color: rgba(12, 87, 131, 0.281);
}
.list{
    display: inline;
    box-sizing: border-box;
    padding:0;
    width: 100%;
    a {
        display: block;
        outline: none;
        color: black;
        text-decoration: none;
        padding: 12px 20px;
     }
}