

.list{
    display: flex;
    a {
        display: block;
        outline: none;
        width: 288px;
        height: 60px;
        color: rgb(255, 255, 255);
        text-decoration: none;
        padding: 12px 0px;
        background: url('../../Img/icons/Line.png');
        background-repeat: no-repeat;
        background-position: 55px 59px;
        &:hover{
            text-decoration:none;
            color:white;
        }
        &:after{
            background-color: f2f2f2;
            height: 1px;
        }
        img{
            margin-right: 15px;
        }
     }
}