@mixin label {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 24px;
    height: 24px;
    background-image: url("../../Img/icons/Camera.svg");
    background-repeat: no-repeat;
}
.space {
    display: flex;
    flex-direction: column;
    background: #191a1d;
    width: 320px;
    border-radius: 20px;
    margin: 20px;
}
.avatar {
    background-image: url("../../Img/a4dd261b52b4ffb2b965bfed8720bad8.jpg");
    position: relative;
    width: 320px;
    height: 130px;
    border-radius: 20px 20px 0px 0px;
    img {
        width: 100px;
        border-radius: 100%;
        position: absolute;
        left: 50%;
        top: 100%;
        margin-left: -50px;
        margin-top: -50px;
    }
    .inputWrapper {
        input {
            display: none;
        }
        label {
            @include label;
        }
    }
    .buttonWrapper {
        button {
            display: none;
        }
        label {
            @include label;
            left: 10px;
            background-image: url("../../Img/icons/File.png");
        }
    }
}
.info {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 10px;
    margin-top: 66px;
}

.name {
    font-size: 30px;
    line-height: 50px;
}
