.oponent_space_chat{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 5px;
    margin-right: 15px;
    img{
        margin-left:40px;
    }
}
.user_logo_chat{
    width :80px;
    border-radius: 100%;
}