.body{
    margin: 0 auto;
    max-width: 1700px;
    background-color: rgb(237, 238, 237);
}
.head{ 
     background-color: rgb(230, 163, 163);
}
.navig{
    background-color: rgb(112, 114, 236);
    
}
.foot{
    background-color:rgb(202, 135, 112);
}
