.body {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    overflow:auto;
    max-width: 1920px;
    background-color:#2F2F31;
    display: flex;
    justify-content: space-between;
    font-family: 'Martel Sans', sans-serif;
    color: white;
    line-height: 1.2em;
    .head {
        min-height: 540px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: #191A1D;
        border-radius: 20px;
        margin: 10px 10px;
        
        .head_wrapper{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 520px;
            min-height: 470px;
        }
    }
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        width:90%;
        
    }
}  

