.body{
    margin: 0 auto;
    max-width: 1700px;
    background-color: rgb(237, 238, 237);
}
.head{ 
     background-color: rgb(230, 163, 163);
     height: 150px;
     display: flex;
     justify-content: center;
}
.foot{
    background-color:rgb(202, 135, 112);
    height: 100px;
}



