.my_space_chat{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
    margin-right:15px;
    img{
        margin-right: 40px;
    }
}
.user_logo_chat{
    width :80px;
    border-radius: 100%;
}